@tailwind base;
@tailwind components;
@tailwind utilities;

.font-inter {
  font-family: "Inter", sans-serif;
}

.mark-shadow {
  text-shadow: 0px 0px 3px #fff;
}

.title-shadow {
  text-shadow: 0px 0px 4px #fff;
}

@media (min-width: 640px) {
  .mark-shadow {
    text-shadow: 0px 0px 4px #fff;
  }

  .title-shadow {
    text-shadow: 0px 0px 6px #fff;
  }
}

@media (min-width: 768px) {
  .mark-shadow {
    text-shadow: 0px 0px 5px #fff;
  }

  .title-shadow {
    text-shadow: 0px 0px 8px #fff;
  }
}

@media (min-width: 1024px) {
  .title-shadow {
    text-shadow: 0px 0px 8px #fff;
  }
}

.banner-button {
  box-shadow: 0px 0px 4px 0px #fff;
}

.discord-button {
  box-shadow: 0px 0px 5px 0px #ae8bff;
}

.waitlist-button {
  box-shadow: 0px 0px 10px 0px #ae8bff;
}
