@tailwind base;
@tailwind components;
@tailwind utilities;

.font-inter {
  font-family: "Inter", sans-serif;
}

.mark-shadow {
  text-shadow: 0px 0px 5px #fff;
}

.title-shadow {
  text-shadow: 0px 0px 10px #fff;
}

.discord-button {
  box-shadow: 0px 0px 5px 0px #ae8bff;
}

.waitlist-button {
  box-shadow: 0px 0px 10px 0px #ae8bff;
}
